<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @review.business_name %></h1>
    <p>Hello <%= @review.name %>,</p>
      <p>Thank you very much for your feedback!</p>
    <p>We would really appreciate if you could leave your feedback on these sites as well! Thank you!</p>
    
    <p>Search our name and click on our reviews to leave one</p>
    <a href="http://www.google.com"><img src="https://s3-us-west-1.amazonaws.com/ratingboost/google.png"
    alt="Google"
    width="192" height="74" border="0" /></a>  
    <a href="http://www.yelp.com/"><img src="https://s3-us-west-1.amazonaws.com/ratingboost/yelp.png"
    alt="Google"
    width="192" height="93" border="0" /></a> 
  </body>
</html>

