.jumbotron {
	background-color:transparent;

	font-family: Arial;
	color: #eee;
	text-shadow: 1px 1px 2px #000;
	h2 {
		color: #fff;
		font-weight: bold;
	}

}
.navbar-default {
	.container-fluid {
		background-color: #113758;
		.navbar-nav > li > a {
			color: #fff;
			font-size: 16px;
		}
		.navbar-brand {
			color: #fff;
			font-size: 30px;
			font-weight: bold;
		}
	}
	border: 0px;
}

.container-fluid {
	padding: 10px 120px;
	color: #fff;		
	text-shadow: 1px 1px 1px #000;

}


body {
	background-color: #113758;
	background-image: url("https://s3-us-west-1.amazonaws.com/ratingboost/bg.jpg"); 
    background-repeat:no-repeat;
}